<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085950756970-ri9qn358q16vbjvchk93brghh4tc3tpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085950756970-ri9qn358q16vbjvchk93brghh4tc3tpi</string>
	<key>API_KEY</key>
	<string>AIzaSyB9jComMxOadNKW6JndrIfm2UqEb5dwR88</string>
	<key>GCM_SENDER_ID</key>
	<string>1085950756970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redbytes.My-Moment</string>
	<key>PROJECT_ID</key>
	<string>my-moment-156f6</string>
	<key>STORAGE_BUCKET</key>
	<string>my-moment-156f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085950756970:ios:93b0caa465b838e95de213</string>
	<key>DATABASE_URL</key>
	<string>https://my-moment-156f6.firebaseio.com</string>
</dict>
</plist>